<app-header ></app-header>

<div class = "container">
    <div class="row">
        <div class="col-md-12">
            <h3>I'm the App Component</h3>
            <hr>
            <router-outlet></router-outlet>
        </div>

    </div>

</div>
 

































<!-- <h1>hello world</h1> -->
<!-- this is the selector for the component which is in components ts file  -->
<!-- if we use selector directly then as tag else .className/ -->
<!-- <router-outlet></router-outlet>
<div class="app-courses">
    
</div>   
<app-server></app-server> -->
<!-- <div class = "container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I'm the App Component</h3>
            <hr>
            <app-courses></app-courses >
        </div>

    </div>

</div> -->
 
